*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
nav{
    background-color: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    color:white;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    padding: 10px;
}
.principal{
    display: flex;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.one{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 50%;
}
.one h4{
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    color: #FC200C;
    font-size: 24px;
}
.one h4 span{
    color: white;
}
#delivery{
    width: 600px;
}
.dos{
    display: flex;
    height: 400px;
    justify-content: space-around;
    align-items: center;
}
.dos ol{
    list-style: none;
}
.dos ol li{
    text-align: left;
    padding: 5px;
    font-weight: bold;
}
.dos ol h5{
    font-size: 18px;
    padding-bottom: 20px;
}



footer{
    background-color: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color:white;
    display: flex;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

footer ul{
    margin: 19px 20px;
    list-style-type:none;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 112px;
}
footer li{
    padding: 10px 0px;
}

footer img{
    width: 212px;
    height: 80px;
    margin-right: 45px;
}
